.icons{
    height:120px;
    margin-top:20px
}

.icon {
    position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .icon:hover {
    position: absolute;
    top: 55%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  .arrow {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
  }
  
  .arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: #fff;
  }
  
  .arrow::after {
    top: -12px;
    transform: rotate(45deg);
  }
  
  .arrow::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }

.label{
    font-weight: bold;
    display: flex;
    color:#ffff;
    margin-top: 1%;
    
}  
.admission-section{
  background: #496CBE;
}
  @media screen and (min-width:1px) and (max-width:768px){
    .icons{
        height:80px;
        margin-top:20px;
        margin-left:150px;
    }
    .icon {
       display: none;
      }
      .label{
        font-weight: bold;
        display: flex;
        color:#ffff;
        justify-content: center;
        margin-top: 1%;
        
    } 
  }