:root{
    --primary:#fff;
}
.btn{
    padding:8px 20px;
    border-radius: 4px;
    outline:none;
    border:none;
    cursor: pointer;
    white-space:nowrap;
    
    
}
.btn--primary{
    background-color:var(--primary) ;
    color:#9B59B6;
    border:5px solid var(--primary);
    
    
}
.btn--outline{
    background-color:#496cbe;
    color:rgb(240, 240, 240);
    padding:8px 20px;
    transition: all 0.5s ease-out;
}
.btn--medium{
    padding:10px 20px;
    font-size:20px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    box-shadow: 1px 5px 10px  #9ebbfd;
}
.btn--large{
    padding:12px 26px;
    font-size:20px;
    
}
.btn--mobile{
    text-align:center;
    border-radius: 4px;
    width:80%;
    text-decoration: none;
    font-size:24px;
    background-color: #fcfcfc;
    color:#333;
    padding:14px 20px;
    border:1px solid #fff;
    transition: all0.3s ease-out;
}
.btn--wide{
    padding:12px 64px;
    font-size:20px;
}
.btn--large:hover, .btn--medium:hover, .btn--mobile:hover{
    transition: all 0.3s ease-out;
    background: #688fe9;
    color:#fff;
}

.btn--mobile:hover{
    transition: all 0.3s ease-out;
    background: rgb(241, 227, 247);
    color:#333;
    text-decoration: none;
}

.btn--wide:hover{
  color:#fff;
  background-color: #9B59B6;
  transition: all 0.2s ease-out;
}

.blue{
    background-color: #276afb;
    color:#fff;
    border:none;
}
.red{
    background-color: #9B59B6;
    color:#fff;
    border:none;
}

.primary{
    background-color: #9B59B6;
    color:#fff;
    border:none;
}
.primary:hover{
    background-color: #fff;
    color:#9B59B6;
    border:none;
}
.green{
    background-color: #25ce4a;
    color:#fff;
    border:none;
}
.green:hover{
    background-color: #9B59B6;
}
.btn-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding:8px 16px;
    height:100%;
    width:100%;
    
}