
.background{
    background: #496cbe;
    height: 550px;
    margin-top: -10px;
}
.card-heading{
    color:#ffffff;
    font-weight: bold !important;
    font-size: 54px;
    margin-top:100px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
}

.card-subheading{
    color:#ffffff;
    font-weight: bold !important;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: 30px;
}

.contact-form{
    margin-left: 150px;
    
}

.card{
    border-radius: 15px;
    box-shadow: 5px 5px 5px #2e457c;
}


.social{
    margin-left: 25px;
}

.social-icons{
   height:40px
}
@media screen and (min-width:1px) and (max-width:600px){
    .card-heading{
        color:#fce9f4;
        font-weight: bold !important;
        font-size: 40px;
        margin-top:50px;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    .contact-form{
     margin-left: 4px;
        
    }

    .background{
        background: #496cbe;
        height: 870px;
        margin-top: -10px;
    }
    
    
    
    }